
body {
  font-size: 12pt;
  font-family: monospace;
}

.hidden { display: none; }

pre {
  white-space: pre-wrap;
}

#codes {
  margin-top: 2.8rem;
}
#codes > div {
  display: inline-block;
}
#codes .label {
  margin-top: 0.5rem;
  position: relative;
}

img[src="images/copy.svg"] {
  height: 16pt;
  position: absolute;
  right: 0;
  cursor: pointer;
}

#flash {
  background-color: lightgreen;
  border-radius: 15px;
  margin-top: 2rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 9pt;
}

#clip {
  position: absolute;
  top: -99rem;
}

